.header__container {
  background-image: linear-gradient(
      rgba(32, 46, 82, 0.75),
      rgba(10, 14, 24, 0.75)
    ),
    url(../assets/image/pexels-pixabay-417173.jpg);
  background-size: cover;
  height: 200px;
}
